In [45]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report

income_eval = pd.read_csv('https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/income_evaluation.csv')

In [46]:
income_eval.describe(include='all')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [47]:
income_eval.columns = ['age', 'workclass', 'fnlwgt', 'education','education_num','martital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']

In [48]:
list(income_eval)

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'martital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income']

In [49]:
income_eval.drop(["age", "workclass","fnlwgt","education","martital_status","occupation","relationship","race","sex","hours_per_week","native_country"], axis = 1, inplace = True)

In [50]:
income_eval

       education_num  capital_gain  capital_loss  income
0                 13          2174             0   <=50K
1                 13             0             0   <=50K
2                  9             0             0   <=50K
3                  7             0             0   <=50K
4                 13             0             0   <=50K
...              ...           ...           ...     ...
32556             12             0             0   <=50K
32557              9             0             0    >50K
32558              9             0             0   <=50K
32559              9             0             0   <=50K
32560              9         15024             0    >50K

[32561 rows x 4 columns]

In [51]:
X = income_eval.drop('income',1)

C:\Users\aathe\AppData\Local\Temp\ipykernel_26236\3988650489.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = income_eval.drop('income',1)

In [52]:
Y = income_eval.iloc[:,-1]

In [53]:
X.head()

   education_num  capital_gain  capital_loss
0             13          2174             0
1             13             0             0
2              9             0             0
3              7             0             0
4             13             0             0

In [54]:
Y.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: income, dtype: object

In [55]:
X.shape, Y.shape

((32561, 3), (32561,))

In [58]:
from sklearn.model_selection import train_test_split

X_Train,X_Test,Y_Train,Y_Test = train_test_split(X,Y,test_size=0.3,random_state=8)

In [59]:
X_Train.shape,X_Test.shape,Y_Train.shape,Y_Test.shape

((22792, 3), (9769, 3), (22792,), (9769,))

In [60]:
standard_scaler = StandardScaler()

In [61]:
X_train_scaler = standard_scaler.fit(X_Train)
X_train_trans_scaler = standard_scaler.transform(X_Train)

X_train_trans_scaler.size

68376

In [62]:
X_test_trans_scaler = standard_scaler.transform(X_Test)

X_test_trans_scaler.size

29307

In [63]:
model = KNeighborsClassifier(n_neighbors=5)

In [64]:
model.fit(X_Train,Y_Train)

KNeighborsClassifier()

In [65]:
y_pred = model.predict(X_Test)

In [66]:
accuracy = accuracy_score(y_pred,Y_Test)

In [67]:
print(accuracy)

0.8348858634455932

In [68]:
confusion_matrix(y_pred,Y_Test)

array([[7137, 1328],
       [ 285, 1019]], dtype=int64)

In [69]:
print(classification_report(y_pred,Y_Test))

              precision    recall  f1-score   support

       <=50K       0.96      0.84      0.90      8465
        >50K       0.43      0.78      0.56      1304

    accuracy                           0.83      9769
   macro avg       0.70      0.81      0.73      9769
weighted avg       0.89      0.83      0.85      9769