In [61]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB, CategoricalNB
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [62]:
sbwu_elections = pd.read_csv('https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/sbwu_elections.csv')

In [63]:
sbwu_elections.tail(1)

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
75,E Colfax Ave,"Denver, CO",CO,No,5/10/2022,13,0,13,1.0,Yes

In [64]:
sbwu_elections.describe(include='all')

,Store,Location,State,RTWState,VoteCountDate,VotesYes,VotesNo,VoteTotal,Margin,Result
count,76,76,76,76,76,76.000000,76.000000,76.000000,76.000000,76
unique,76,47,18,2,29,NaN,NaN,NaN,NaN,2
top,Camp Road Hamburg,"Eugene, OR",NY,No,5/3/2022,NaN,NaN,NaN,NaN,Yes
freq,1,8,17,49,10,NaN,NaN,NaN,NaN,66
mean,NaN,NaN,NaN,NaN,NaN,13.986842,4.644737,18.631579,0.561316,NaN
std,NaN,NaN,NaN,NaN,NaN,7.399988,6.202589,11.282839,0.393695,NaN
min,NaN,NaN,NaN,NaN,NaN,4.000000,0.000000,5.000000,-0.310000,NaN
25%,NaN,NaN,NaN,NaN,NaN,9.750000,1.000000,13.000000,0.225000,NaN
50%,NaN,NaN,NaN,NaN,NaN,12.500000,2.500000,15.500000,0.685000,NaN
75%,NaN,NaN,NaN,NaN,NaN,17.000000,7.000000,21.000000,0.882500,NaN
max,NaN,NaN,NaN,NaN,NaN,46.000000,36.000000,82.000000,1.000000,NaN

In [84]:
sbwu_elections = sbwu_elections.drop(['Store','Location','State','RTWState','VoteCountDate','VotesYes','VotesNo','VoteTotal'],axis=1)
sbwu_elections.head(1)

   Margin Result
0    -0.2     No

In [93]:
#Label Encoding Margin Column for Categorisation
sbwu_elections.loc[sbwu_elections['Margin'] < 0, 'Margin'] = 0
sbwu_elections.loc[sbwu_elections['Margin'] > 0, "Margin"] = 1

In [111]:
X = sbwu_elections.iloc[:,:-1]

In [112]:
Y = sbwu_elections.iloc[:,-1]

In [113]:
Y.head(1)

0    No
Name: Result, dtype: object

In [114]:
X.head(10)

   Margin
0     0.0
1     1.0
2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
7     1.0
8     1.0
9     1.0

In [115]:
X_Train,X_Test,Y_Train,Y_Test = train_test_split(X,Y,test_size=0.3,random_state=9)

In [116]:
X_Train.shape,X_Test.shape,Y_Train.shape,Y_Test.shape

((53, 1), (23, 1), (53,), (23,))

In [117]:
cnb = CategoricalNB()

In [118]:
cnb.fit(X_Train,Y_Train)

CategoricalNB()

In [119]:
y_pred = cnb.predict(X_Test)

In [121]:
accuracy = accuracy_score(Y_Test,y_pred)

In [122]:
print(accuracy)

1.0

In [123]:
confusion_matrix(Y_Test,y_pred)

array([[ 1,  0],
       [ 0, 22]], dtype=int64)

In [125]:
print(classification_report(Y_Test,y_pred))

              precision    recall  f1-score   support

          No       1.00      1.00      1.00         1
         Yes       1.00      1.00      1.00        22

    accuracy                           1.00        23
   macro avg       1.00      1.00      1.00        23
weighted avg       1.00      1.00      1.00        23